.container-login{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: #19bb8b ;
}

.card-login{
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 48px;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px rgba(15,32,32,0.15); 
}
.card-login .card-login-title {
    font-size: 30px;
    max-width: 350px;
    margin-bottom: 16px;
}
.card-login img{
    width: 80px;
}
.card-login p {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: rgb(230, 230, 230);
    
}
.content-login label{
    margin-bottom: 8px;
}
.btn-submit-login{
    background-color: #68dab8;
    margin-top: 24px;
    transition: ease-in-out 0.5s;
    border: 0px;
}
.link-new-account{
    color: white;
    max-width: 250px;
    display: flex;
    margin: 10px auto 0 auto;
    font-size: 15px;
    color: rgb(0, 0, 0);
}